.DS_Store
__pycache__/
data_vis/
dataset/
dataset_for_debug/
dataset_fast_train/
checkpoint/
ICDAR2021/
simple_test/__pycache__/
fdr_vis/
flat/
gif
accuracy_log
*.gz
*.code-workspace
*.jpg
*.png
output/
backup/
validation_vis/